{{>menu}}
<div class="row">
    <div class="col-md-12 mx-auto card">
<h3 class="display-4 text-center">{{this.title}}</h3><br>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mt-2 jumbotron">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>id</th>
                            <th>Title</th>
                            <th>Release</th>
                            <th>Director</th>
                            <th>Cast</th>
                            <th>Origin</th>
                          
                        </thead>
                        <tbody>
                            {{#each dataFind}}
                            <tr>
                                <td class="text-success"></td>
                                <td>{{this.Title}}</td>
                                <td>{{this.result}}</td>
                                <td>{{this.dataDir}}</td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>