<div class="col-md-12 mx-auto">
<nav class="navbar navbar-light bg-light row">
    <div class="col-md-2 mb-3">
        <a href="/" class="navbar-brand">Movies App</a>
    </div>
    <form action="/find" method="GET" class="input-group mb-3 col-md-8">
        <input type="text" class="form-control" placeholder="Search a movie" name="searching" id="searching" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="submit" class="input-group-text" id="basic-addon2">Search</button>
        </div>
    </form>
    <div class="col-md-2 mb-3">
        <a href="/add">Add a movie <i class="fas fa-plus-circle x2"></i></a>
    </div>
</nav>
</div>